<div class="container px-5 px-sm-0">
  <div class="main-container">
<p1>ようこそ、ながのCAKEへ！<br>
   このサイトは、ケーキ販売のECサイトになります<br>
   会員でない方も商品の閲覧はできますが、<br>
   購入には会員登録が必要になります。</p1><br>
 </div>
<h2>新着商品</h2>
   <div class="row">
    <% @items.each do |item| %>
    <div class="col-md-3">
      <%= link_to image_tag item.get_image(100,100) %><br>
      <%= link_to item.name,admin_item_path(item.id) %><br>
      ￥<%= (item.price * 1.1).floor %><br>
    </div>
    <% end %>
  </div>
  <div class="text-right">
  <%= link_to "全ての商品を見る＞", items_path %>
  </div>
</div>