<p id="notice"></p>
<div class="container">
    <h3>注文履歴一覧</h3>
 <div class="row">
      <table class="col-10 table table-bordered">
        <tbody>
          <tr class="table-secondary">
        　　<td>購入日時</td>
        　　<td>購入者</td>
        　　<td>注文個数</td>
          </tr>
        </tbody>
        <%#= @admin.order.each do |admin| %>
        <%# end %>
  </div>
</div>